{% extends "base_auditado.html" %}

{% block title %}Pedido de Informação - Portal do Auditor{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-question-circle me-1"></i> Pedidos de Informação</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Secretaria</th>
                        <th>Data Recebida</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in documentos if documento.tipo_documento == 'Solicitação de Informação' %}
                        <tr>
                            <td>{{ documento.secretaria }}</td>
                            <td>{{ documento.data_envio.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                            <td class="text-center">
                                <!-- Botão para visualizar o arquivo em uma nova aba -->
                                <a href="{{ url_for('visualizar_documento', filename=documento.arquivo) }}" target="_blank" class="btn btn-info btn-sm">Visualizar</a>
                                <!-- Botão para enviar o documento -->
                                <a href="{{ url_for('responder_pedido_informacao', pedido_id=documento.id) }}" class="btn btn-success btn-sm">Enviar Resposta</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
