{% extends 'base.html' %}

{% block title %}Documentos - Portal do Auditor{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-folder-open me-1"></i> Documentos</h3>
    </div>
    <div class="card-body">
        <div class="row gy-3">
            <div class="col-md-4 text-center">
                <a href="{{ url_for('visualizar_raint') }}" class="text-decoration-none">
                    <i class="fas fa-file-alt" style="font-size: 100px; color: #007bff;"></i>
                    <p>Relatório Anual de Auditoria Interna - RAINT</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ url_for('visualizar_paint', ano=2024) }}" class="text-decoration-none">
                    <i class="fas fa-file-signature" style="font-size: 100px; color: #28a745;"></i>
                    <p>Plano Anual de Auditoria Interna - PAINT</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ url_for('visualizar_leis_018_2020') }}" class="text-decoration-none">
                    <i class="fas fa-book" style="font-size: 100px; color: #dc3545;"></i>
                    <p>L C N.° 018/2020 - Estrutura Organizacional e Competências da CGM</p>
                </a>
            </div>
        </div>
        <div class="row gy-3 mt-4">
            <div class="col-md-4 text-center">
                <a href="{{ url_for('visualizar_manual') }}" class="text-decoration-none">
                    <i class="fas fa-book" style="font-size: 100px; color: #17a2b8;"></i>
                    <p>Manual de Auditoria</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ url_for('visualizar_decreto') }}" class="text-decoration-none">
                    <i class="fas fa-gavel" style="font-size: 100px; color: #6f42c1;"></i>
                    <p>Decreto Municipal</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ url_for('visualizar_leis_08_2023') }}" class="text-decoration-none">
                    <i class="fas fa-th-list" style="font-size: 100px; color: #17a2b8;"></i>
                    <p>L C N.° 08/2023 - Plano de Cargos, Carreiras e Salários (PCCS)</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
